.page__footer {
    background:#B66D49;
    border-top-width: 15px;
    border-top-color:#00C8CD;
    border-top-style: solid;
    color: white;
    padding: 20px;
    text-align: center;
    display: block;
  
  }
  .footer__rights {
    padding-bottom: 10px;
  }
  
  .social__icon {
      text-decoration: none;
  }

  .social__icon img {
    height: 30px;
    width: 30px;
    margin: 0 5px;
  }

  .social__icon img:hover {
    transform: scale(1.2);
    transition: .2s;
  }


  @media screen and (min-width: 769px) {
      .page__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      
      .footer__rights {
        padding: 5px 0;
      }
      
  }