/* background */
.function{
    background-color: #fff;
    height: 100%;
    width: 100%;
}

.function__description{
    color: #324B4C;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.function__icon{
    max-width: 100%;
    min-width: 100%;
}

.function__title{
    color: #324B4C;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

/************************/
/*   media queries     */
/**********************/

@media screen and (min-width: 465px){
    .function__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-content: center;
        margin: 0 auto;
        max-width: 1080px;
    }
}

@media screen and (min-width: 760px){
    .function__wrapper{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        margin: 0 auto;
        max-width: 1080px;
    }
}







