.hero {
    background-image: url('/fotos/krystian-tambur-101318-unsplash.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 2rem 0 0 2rem;
  }
  
  .hero__headline {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1;
    margin: 0;
    color: #fff;
    font-size: 4rem;
  }

  .hero__logo {
    margin: 2% 0 0 7%;
    height: 100px;
    }

  .hero__text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding-top: 7vw;
    color: #fff;
    font-size: 1.5rem;
  }

  .hero__button {
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid;
    margin-top: 2rem;
  }