.hero {
    background-image: url('/fotos/krystian-tambur-101318-unsplash.jpg');
    background-size: cover;
    background-position: right top;
    height: 100vh;
    width: 100%;
    color: #fff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  .hero__container{
    height: 100%;
    padding: 45vh 50vw 20vh 7vw;

  }
  
  .hero__headline {
    margin: inherit;
    font-size: 4rem;
    font-weight: 300;
  }

  .hero__logo {
    margin: 4vh 0;
    height: 150px;
    width: auto;
    }

  .hero__text {
    margin: inherit;
    font-size: 3rem;
  }