.hero {
  background-size: cover;
  background-position-x: 82%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero__container {
  text-align: center;
  position: relative;
}

.hero__headline {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0;
}

.hero__logo {
  height: 55px;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
}

.hero__text {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 0;
}

.hero__button {
  width: 200px;
  border: 2px solid;
  border-radius: 8px;
  padding: 5px;
  margin: 3vh auto;
  text-align: center;
  text-transform: uppercase;
}

.hero__button:hover {
  background-color: #1bd3e8;
}

@media screen and (min-width: 768px) {

/* slider dots */
.slider-dots {
  position: absolute;
  left: 0;
  bottom: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
}
.slider-dots-element {
}

.slider-dots-button {
  background: transparent;
  width: 2rem;
  height: 2rem;
  border: 0;
  text-indent: -999px;
  overflow: hidden;
  position: relative;
}
.slider-dots-button:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  transition: 0.5s all;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}
.slider-dots-element-active .slider-dots-button:before {
  background: #fff;
  transform: translate(-50%, -50%) scale(1.2);
}
.slider-dots-button:focus {
  outline: none;
}


@media screen and (min-width: 426px) {
  .hero__headline {
    font-size: 2.4rem;
  }

  .hero__logo {
    height: 72px;
  }

  .hero__text {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {

  .hero {
    background-position: right top;
    justify-content: flex-start;
    align-items: center;
  }

  .hero__container {
    padding: 0 0 0 3vw;
    text-align: left;
  }

  .hero__headline {
    font-size: 3rem;
  }

  .hero__logo {
    height: 90px;
    margin-top: 1.3rem;
    margin-bottom: 0.9rem;
  }

  .hero__text {
    font-size: 2rem;
  }

  .hero__button {
    width: 250px;
    font-size: 1.5rem;
    margin-left: 0;
  }

}
