* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body, html {
    margin: 0;
	  padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover, a:hover, a:visited{
  color: inherit;
}

.footer__rights {
  padding: 2vh;
}

.footer__social {
  padding-bottom: 2vh;
}

.social__icon img {
  height: 30px;
  width: 30px;
  max-width: 40px;
  max-width: 40px;
  margin: 0 10px;
}
