.subscribe {
    background: url(../fotos/subscribe_background.jpg) no-repeat;
    background-position: left;
    background-size: cover;
    padding: 10vh 0;
    color: #ffffff;
    font-weight: 300;
}

.subscribeContainer {
    background-color: #00C8CD;
    padding: 5vh 10vw;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.subscribeText h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin: 10px 0 0 0;
}


.subscribeText p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5;
}

.subscribeInput {
    padding: 1vh 5px;
    box-shadow: inset 1px 1px 1px 0 rgba(0,0,0,0.5);
}

.subscribeSubmit {
    color: #ffffff;
    background-color: #324B4C;
    border-radius: 8px;
    padding: 10px 30px;
    text-transform: uppercase;
    margin: 10px 0;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
}

.subscribeSubmit:hover {
    background-color: #fff;
    color: #324B4C;
}

@media screen and (min-width: 1024px) {

    .subscribeContainer {
        padding: 5vh 15vw;
    }
}

@media screen and (min-width: 1024px) {

    .subscribeContainer {
        width: 60%;
    }
}
