table tr td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.active {
    background-color: aqua;
}

.points {
    background-color: green;
}

.points.negative {
    background-color: red;
}

.points.milk {
    background-color: yellow;
}

.points.mouse {
    background-color: gray;
}

.points.drop {
    background-color: blue;
}

.menu {
    display: flex;
    justify-content: space-between; 
}

.score {
    font-size: 30px;
    font-weight: 800;
}

.life {
    color: red;
    font-size: 30px;
    font-weight: 800;
}