body {
    margin: 0;
}

#board__container {
    border-collapse: collapse;
    background: url(game_icons/board-game-bottom.png) no-repeat rgb(181, 228, 255);
    background-position: bottom;
    background-size: 100%;
    width: 602px;
    height: 540px;
}

table tr td {
    width: 60px;
    height: 60px;  
}

.active {
    background: url(game_icons/kitty-basket.png) no-repeat;
    background-size: 95%;
    background-position: bottom;
    height: 60px;
    width: 60px;
}

.points.negative {
    background: url(game_icons/bomb.png) no-repeat;
    background-position: bottom;
    background-size: 70%;
    height: 60px;
    width: 60px;
}

.points.milk {
    background: url(game_icons/milk.png) no-repeat;
    background-position: bottom;
    background-size: 40%;
    height: 60px;
    width: 60px;
}

.points.mouse {
    background: url(game_icons/mouse.png) no-repeat;
    background-position: bottom;
    background-size: 75%;
    height: 60px;
    width: 60px;
}

.points.fish {
    background: url(game_icons/fish.png) no-repeat;
    background-position: bottom;
    background-size: 75%;
    height: 60px;
    width: 60px;
}
.life__head1,
.life__head2,
.life__head3 {
    width: 40px;
}
.menu {
    display: flex;
    justify-content: space-between; 
    background: url(game_icons/board-game-top.png) no-repeat rgb(181, 228, 255);
    background-size: 100%;
    width: 602px;
    height: 126px;
}

.score__board {
    font-family: 'Alfa Slab One', cursive;
    font-size: 22px;
    font-weight: 800;
    margin: 10px 10px 0 0;
    color: rgb(104, 62, 56);
}

.score {
    background-color: rgb(253, 191, 43);
    border: 3px rgb(104, 62, 56) solid;
    border-radius: 0.5em 0.5em;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;

}

.life__heads {
    margin: 15px 0 0 10px;
}

#start__window {
    position:relative;
    height: 81%;
}

.play__board,
.instruction__board {
    position:absolute;
    top: calc(50% - 119px);
    left: calc(50% - 155px);
    width: 310px;
    height: 238px;
    background: url(game_icons/yellow-board.png) no-repeat;
    background-size: 100%;
    font-family: 'Alfa Slab One', cursive;
    
}

.title {
    font-size: 37.5px;
    color: rgb(104, 62, 56);
    text-align: center;
}

.play__button { 
    background-color: rgb(104, 62, 56);
    width: 150px;
    border: 2px solid;
    border-radius: 8px;
    padding: 3px;
    margin: -2vh auto 3vh auto;
    font-size: 26px;
    letter-spacing: 2px;
    color: rgb(253, 191, 43);
    text-align: center;
    text-transform: uppercase;
}

.play__button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 0px rgb(202, 173, 10);
    transition: .2s;
}


.instruction {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 22px;
}

.instruction:hover,
.back:hover {
    cursor: pointer;
}

.laptop__cat {
    background: url(game_icons/kitty-comp.png) no-repeat;
    background-size: 12%;
    background-position: center center;
    height:85px;
    width: auto;
}

.instruction__board {
    font-size: 13px;
    color: rgb(104, 62, 56);
    text-align: center;
}

.instruction__text {
    padding-top: 22px;
}

.back {
    padding-right: 15px;
    text-align: right;
    text-decoration: underline;
}

.final__scores {
    position:absolute;
    margin: 214px 145px;
    width: 310px;
    height: 238px;
    background: url(game_icons/yellow-board.png) no-repeat;
    background-size: 100%;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}

.final__scores--title {
    font-size: 15px;
    text-decoration: underline;
}

.final__scores--list {
    font-size: 15px;
    text-align: left;
    list-style-type: none;
}

.restart__button { 
    background-color: rgb(54, 133, 1);
    width: 230px;
    border: 2px solid rgb(44, 109, 1);
    box-shadow: 0px 2px 5px 0px rgb(6, 77, 41);
    border-radius: 8px;
    padding: 3px;
    margin: -2px auto 3vh auto;
    font-size: 18px;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
}

.save__button {
    background-color: rgb(54, 133, 1);
    width: 220px;
    border: 2px solid rgb(44, 109, 1);
    box-shadow: 0px 2px 5px 0px rgb(6, 77, 41);
    border-radius: 8px;
    padding: 3px;
    margin: 10px auto 3vh auto;
    font-size: 18px;
    letter-spacing: 3px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alfa Slab One', cursive;
}


.restart__button:hover, .save__button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 5px 0px rgb(202, 173, 10);
    transition: .2s;
}

.game__result {
    position:absolute;
    margin: 214px 145px;
    width: 310px;
    height: 238px;
    background: url(game_icons/yellow-board.png) no-repeat;
    background-size: 100%;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}

.game__result--title {
    font-size: 28px;
    margin: 15px;
}

.game__result--score {
    font-size: 45px;
    margin: 8px 0 0 0;
}

.player__name {
    background-color: rgb(255, 255, 255);
    width: 220px;
    border: 2px solid rgb(165, 165, 165);;
    border-radius: 8px;
    padding: 3px;
    margin: 10px auto 0 auto;
    font-size: 18px;
    color: rgb(95, 95, 95);
    text-align: center;
    box-shadow: inset 0 0 10px rgb(189, 189, 189);
}