table {
    border-collapse: collapse;
    background: url(game_icons/board-game-bottom.png) no-repeat rgb(181, 228, 255);
    background-position: bottom;
    background-position-y: 111%;
}

table tr td {
    width: 80px;
    height: 80px;  
}

.menu {
    background: url(game_icons/board-game-top.png) no-repeat rgb(181, 228, 255);
    width: 820px;
    height: 130px;
}

.active {
    content: url(game_icons/kitty-basket.png);
    text-align: center;
}

.points.negative {
    content: url(game_icons/bomb.png);
    text-align: center;
    height: 80px;
    width: auto;
}

.points.milk {
    content: url(game_icons/milk.png);
    text-align: center;
    height: 80px;
    width: auto;
}

.points.mouse {
    content: url(game_icons/mouse.png);
    height: 80px;
    width: auto;
}

.points.drop {
    content: url(game_icons/drops.png);
    height: 80px;
    width: auto;
}

.menu {
    display: flex;
    justify-content: space-between; 
}

.score {
    font-size: 30px;
    font-weight: 800;
}

.life {
    color: red;
    font-size: 30px;
    font-weight: 800;
}